server:
  affinity: ""
  ha:
    enabled: true

    config: |
      ui = true
      
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      
      storage "consul" {
        path = "vault"
        address = "HOST_IP:8500"
      }
      
      service_registration "kubernetes" {}

      plugin_directory = "/home/vault"

csi:
  enabled: true
